<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Parametros
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-icon name="card" slot="start"></ion-icon>
            <a routerLink='/home/tarjeta-de-equipo' class="parametros_a">Tarjeta de equipo</a>
        </ion-item>
        <ion-item>
            <ion-icon name="card" slot="start"></ion-icon>
            <a routerLink='/home/orden-trabajo-header' class="parametros_a">Parametrizar orden de trabajo
            </a>
        </ion-item>
        <ion-item (click)="alertaRango()">
            <ion-icon name="card" slot="start"></ion-icon>
            <a class="parametros_a">Establecer rango de fecha para alerta
            </a>
        </ion-item>
    </ion-list>
</ion-content>
