<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>bitacoraDetalle</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of bitacoraDat" name="item">
        <ion-item>
            <strong>Descripción:</strong> {{item.descripcion}}
            <button (click)="openModal(item)" slot="end">
                <ion-icon name="eye"></ion-icon>
            </button>
        </ion-item>
        <ion-item>
            <strong>Encargado:</strong> {{item.encargado}}

        </ion-item>
        <ion-item>
            <strong>Fecha:</strong> {{item.created}}
        </ion-item>
    </ion-card>
</ion-content>
