<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Orden de trabajo cliente
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngFor="let item of planificadorData">
        <ion-card name="item" *ngIf="item.fecha !== ''">
            <ion-item>
                <strong>Orden ID:&nbsp;</strong> {{item.orden_id}}
                <ion-button color="light"
                            slot="end" (click)="openComponent(item,evaluarFecha(item.fecha))"> Efectuar el mantenimiento
                    <ion-icon name="create"></ion-icon>
                </ion-button>
            </ion-item>
            <ion-item>
                <strong>Usuario ID:&nbsp;</strong> {{authUser.name}}
            </ion-item>
            <ion-item *ngIf="evaluarFecha(item.fecha) === 1 " color="success">
                <strong>Estado:&nbsp;</strong> Mantenimiento listo para ser efectuado
            </ion-item>
            <ion-item *ngIf=" evaluarFecha(item.fecha) === 0" color="warning">
                <strong>Estado:&nbsp;</strong> Aún no es el dia para efectuar el mantenimiento o está
                retrazado
            </ion-item>
            <ion-item>
                <strong>Fecha mantenimiento:&nbsp;</strong> {{item.fecha}}
            </ion-item>
        </ion-card>
    </div>
</ion-content>

