<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Planificador
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <strong>Planificar un mantenimiento</strong>
        <ion-button (click)="openModal('Agregar planificacion',null,1)" color="danger" slot="end">
            <ion-icon name="person-add"></ion-icon>
        </ion-button>
    </ion-item>
    <ion-card *ngFor="let item of planificadorData" name="item">
        <ion-item>
            <strong>Area:</strong> {{item.area}}
            <ion-button *ngIf=" item.estado == 'Pendiente'" (click)="openModal('Editar planificacion',item, 2)"
                        color="light"
                        slot="end">
                <ion-icon name="create"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item>
            <strong>Solicitado por:</strong> {{item.solicitado}}
        </ion-item>
        <ion-item>
            <strong>Fecha:</strong> {{item.fecha}}
        </ion-item>
        <ion-item *ngIf=" item.estado == 'Completo'" color="success">
            <strong>Estado:</strong> {{item.estado}}
        </ion-item>
        <ion-item *ngIf=" item.estado == 'Pendiente'" color="warning">
            <strong>Estado:</strong> {{item.estado}}
        </ion-item>
        <ion-item>
            <strong>Maquina:</strong> {{item.maquina_id.descripcion}}
        </ion-item>
    </ion-card>
</ion-content>
