<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Bitácora de Máquina {{ authUser?.name}}

        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form required="true">
        <ion-list>
            <ion-list>
                <ion-list-header>Seleccione la máquina de la linea UHT</ion-list-header>

                <ion-item>
                    <ion-label>Máquina</ion-label>
                    <ion-select ngModel="slc_maquina" (ionChange)="OnChange($event)" name="slc_maquina" required="true">
                        <ion-select-option *ngFor="let item of maquinaData" value="{{item?.maquina_id}}" selected>
                            {{item?.descripcion}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>

        </ion-list>
        <ion-button type="submit" >Buscar</ion-button>
    </form>
</ion-content>
