<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Bitácora de Máquina

        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form required="true">
        <ion-list>
            <ion-list>
                <ion-list-header>Seleccione la máquina de la linea UHT</ion-list-header>

                <ion-item>
                    <ion-label>Máquina</ion-label>
                    <ion-select [(ngModel)]="slcMaquina" name="slcMaquina" required="true">
                        <ion-select-option *ngFor="let item of maquinaData" value="{{item?.maquina_id}}" selected>
                            {{item?.descripcion}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>

        </ion-list>

        <ion-item>
            <ion-label>Desde</ion-label>
            <ion-datetime [(ngModel)]="bitacoraDesde" name="bitacoraDesde" value="2018-01-01" placeholder="Fecha desde"
                          required="true"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Hasta</ion-label>
            <ion-datetime [(ngModel)]="bitacoraHasta" name="bitacoraHasta" placeholder="Fecha hasta"></ion-datetime>
        </ion-item>

        <ion-button expand="block" share="round" color="light" (click)="buscarMaquina()">Buscar</ion-button>
    </form>
</ion-content>
