<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
    <div class="center">
      <img src="assets/images/logo_floralp.png" class="smallLogo"/>
      <h1>Ingreso</h1>
    </div>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input autocomplete="off" type="text" name="username" [(ngModel)]="postData.username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input autocomplete="off" type="password" name="password" [(ngModel)]="postData.password"></ion-input>
      </ion-item>

<!--      <ion-item lines='none'>-->
      <!--        <a routerLink='/signup'>Create Account</a>-->
      <!--      </ion-item>-->
    </ion-list>
    <ion-button expand="block" share="round" color="light" (click)="loginAction()">Login</ion-button>
  </form>
</ion-content>
