ion-item-divider {
  padding-top: 15px;
}


.label-input {
  font-size: 12px;
  color: #999999;
}

.ion-text-center {
  font-weight: 500;
}

.row-padding-divider {
  padding-top: 35px;
}
ion-datetime{
  font-size: 12px;
}
