<ion-header>
    <ion-toolbar>
        <ion-title>Tarjeta de equipo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-grid>
            <ion-row>
                <ion-col size="4">
                    <ion-item>
                        <ion-label class='label-input'>N.I:</ion-label>
                        <ion-input type="text" required="true"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-item>
                        <ion-datetime displayFormat="YYYY" placeholder="Año"></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label class='label-input' position="floating">Descripción</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label class='label-input' position="floating">Local</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label class='label-input' position="floating">Marca</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label class='label-input' position="floating">Proceso</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label class='label-input' position="floating">Modelo/tipo</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="4">
                    <ion-item>
                        <ion-label class='label-input' position="floating">Fabricante</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item>
                        <ion-label class='label-input' position="floating">Origen</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item>
                        <ion-label class='label-input' position="floating">Proveedor</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-item-divider></ion-item-divider>
            <ion-row class="row-padding-divider">
                <ion-col size="4">
                    <ion-label class="ion-text-center">FECHAS</ion-label>
                    <ion-item>
                        <ion-label class='label-input' position="floating">ORDENADO</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-label class="ion-text-center">DIMENCIONES</ion-label>
                    <ion-item>
                        <ion-label class='label-input' position="floating">ANCHO</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="5">
                    <ion-label class="ion-text-center">ALIMENTACION</ion-label>
                    <ion-item>
                        <ion-label class='label-input'>ENERGIA ELECTRICA</ion-label>
                        <ion-checkbox color="primary" slot="start"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="4">
                    <ion-item>
                        <ion-label class='label-input' position="floating">RECIBIDO</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-item>
                        <ion-label class='label-input' position="floating">LARGO</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="5">
                    <ion-item>
                        <ion-label class='label-input' position="floating">COMBUSTIBLE</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="4">
                    <ion-item>
                        <ion-label class='label-input' position="floating">INSTALADO</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-item>
                        <ion-label class='label-input' position="floating">ALTO</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="2.5">
                    <ion-item>
                        <ion-label class='label-input' position="floating">AGUA</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="2.5">
                    <ion-item>
                        <ion-label class='label-input' position="floating">GAS</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-item-divider></ion-item-divider>

            <ion-row class="row-padding-divider">
                <ion-col>
                    <ion-label class="ion-text-center">MOTOR</ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label class='label-input' position="floating">MARCA</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label class='label-input' position="floating">MODELO</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label class='label-input' position="floating">TIPO</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label class='label-input' position="floating">RODAMIENTOS</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label class='label-input' position="floating">Kw / HP</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label class='label-input' position="floating">BANDAS</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="4">
                    <ion-item>
                        <ion-label class='label-input' position="floating">VOLTAJE</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item>
                        <ion-label class='label-input' position="floating">AMPERAJES</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item>
                        <ion-label class='label-input' position="floating">r.p.m</ion-label>
                        <ion-input required="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-item-divider></ion-item-divider>
            <ion-row class="row-padding-divider">
                <ion-col>
                    <ion-label class="ion-text-center">PROTECCIONES</ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-textarea rows="6" placeholder="Ingrese más información aquí..."></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-item-divider></ion-item-divider>
            <ion-row class="row-padding-divider">
                <ion-col>
                    <ion-label class="ion-text-center">OBSERVACIONES / ESPECIFICACIONES</ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-textarea rows="6" placeholder="Ingrese más información aquí..."></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
            <br>
            <ion-row>
                <ion-col size="12">
                    <ion-button expand="block" color="primary">Confirmar</ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>
    </form>
</ion-content>


