<ion-split-pane>
    <ion-menu contentId="content">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menú</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                    <ion-item [routerLink]="p.url" routerDirection="forward"
                              [class.active-item]="selectedPath === p.url">
                        <ion-icon name="{{p.icon}}" slot="start"></ion-icon>
                        {{p.title}}
                    </ion-item>

                </ion-menu-toggle>
                <ion-item routerLink="/home/orden-administrador" routerDirection="forward"
                          [class.active-item]="selectedPath === '/home/orden-administrador'"
                          *ngIf="authUser?.role==='admin'">
                    <ion-icon name="square-outline" slot="start"></ion-icon>
                    Orden de trabajo administrador
                </ion-item>
                <ion-item routerLink="/home/planificador" routerDirection="forward"
                          [class.active-item]="selectedPath === '/home/planificador'" *ngIf="authUser?.role == 'admin'">
                    <ion-icon name="key" slot="start"></ion-icon>
                    Planificador
                </ion-item>
                <ion-item tappable="" (click)="logoutAction()">
                    <ion-icon name="log-out" slot="start"></ion-icon>
                    Salir
                </ion-item>
            </ion-list>

        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>

<!--<app-tabs></app-tabs>-->

