<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Módulo de Reportes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <div *ngFor="let item of items">
            <ion-item [routerLink]="item.url">
                <ion-icon [name]="item.icon" slot="start"></ion-icon>
                {{item.title}}

            </ion-item>
        </div>
<!--        //routerLink="/home/reportes-ficha"-->
        <ion-item (click)="ejecutarModal()" class="item-pointer">
            <ion-icon name="attach" slot="start"></ion-icon>
            Ficha de ejecución del mantenimiento

        </ion-item>
    </ion-list>
</ion-content>
